# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default file owners
* @bitwarden/team-secrets-manager-dev

## BRE team owns these workflows ##
.github/workflows/publish-to-galaxy.yml @bitwarden/dept-bre

# Shared workflows ownership
.github/workflows/version-bump.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev

# BRE Automations
galaxy.yml
