# General
.DS_Store
.env
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Node
node_modules
npm-debug.log

# Python
.venv*
__pycache__

# Vagrant
.vagrant/

# Ansible Galaxy artifacts
bitwarden-secrets-*.tar.gz
