name: Testing

on:
  workflow_dispatch:
    inputs:
      ansible_branch:
        description: "Branch to test"
        default: "main"
  push:
    branches:
      - "main"
  pull_request:

jobs:
  testing:
    name: Run tests
    runs-on: ubuntu-22.04
    permissions:
      checks: write
      contents: read
      pull-requests: write
      id-token: write

    steps:
      - name: Check out repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.inputs.ansible_branch || github.head_ref }}
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14.3"

      - name: Create artifact directory
        run: mkdir ./dist

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible dateutils maturin unittest-xml-reporting

          # Dependencies are needed from PyPI during install, so check for dev pre-release versions from only TestPyPI to use during install
          echo "Getting latest pre-release version of bitwarden_sdk from TestPyPI..."
          latest_version=$(pip index versions --index-url https://test.pypi.org/simple/ --only-binary=bitwarden_sdk bitwarden_sdk --pre --json | jq -r .latest)
          echo "Latest version found: $latest_version"
          if [[ ! "$latest_version" =~ \.dev[0-9]+$ ]]; then
            echo "Expected .dev pre-release version but found: $latest_version"
            exit 1
          fi
          pip install --extra-index-url https://test.pypi.org/simple/ --only-binary=bitwarden_sdk --pre "bitwarden_sdk==$latest_version"

      - name: Run unit test suite
        run: python -m xmlrunner discover -v -s ./tests/unit -p "*tests.py" --output=./test-reports

      - name: Report test results
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository && !cancelled() }}
        with:
          name: test-reports
          path: ./test-reports/*
          reporter: java-junit
          fail-on-error: true
